Привееет!<br>
<br>
Это Telegram-бот книжного клуба Ботаним.<br>
<br>
Здесь можно посмотреть список книг, которые мы читали и планируем читать, а также
проголосовать за следующую книгу.<br>
<br>
Присоединяйся к клубу:<br>
- https://botanim.to.digital — информация о клубе<br>
- https://t.me/+IyGKU9EIGP5jMTky — вход в клуб<br>
- /help — помощь<br>
<br>
Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/help — справка<br>
/allbooks — все книги, которые есть в нашем списке<br>
/already — прочитанные книги<br>
/now — книга, которую сейчас читаем<br>
/vote — проголосовать за следующую книгу<br>
/voteresults — текущие результаты текущего голосования
